<style>
    .profile_shorts {
        width: 100%;
        height: auto;
        position: relative;
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 10px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(auto-fit, auto-fit);
        row-gap: 10px;
        column-gap: 10px;
    }
</style>
<div class="profile_shorts">
    <h1 class="text-red-500">You can't Create & See shorts</h1>
</div>