<div class="w-[70px] fixed flex flex-col z-2 justify-between bg-[#1b1b1b7e] backdrop-blur-lg bottom-0 border-r-1 border-black" style="padding: 5px;height: calc(100% - 70px);z-index: 4;">
    <div class="flex flex-col gap-3">
        <a href="/" style="padding: 10px;" class="flex rounded-lg hover:bg-zinc-800 transition-all flex-col items-center justify-center">
            <i class="ri-home-4-line text-xl"></i>
            <span class="text-[10px]">Home</span>
        </a>
        <% if(user) { %>
        <a href="/studio/channel/<%= user.handle %>" style="padding: 10px;" class="flex rounded-lg hover:bg-zinc-800 transition-all flex-col items-center justify-center">
            <i class="ri-equalizer-fill"></i>
            <span class="text-[10px]">Studio.</span>
        </a>
        <% } %>
        <hr>
        <% if(user) { %>
            <a href="/channel/<%= user.handle %>" style="padding: 10px;" class="flex rounded-lg hover:bg-zinc-800 transition-all flex-col items-center justify-center">
                <i class="ri-account-circle-2-fill text-xl"></i>
                <span class="text-[10px]">You</span>
            </a>
        <% } %>
    </div>
    <div class="flex flex-col gap-3">
        <% if(user) { %>
            <a href="/logout" style="padding: 10px;" class="flex rounded-lg hover:bg-zinc-800 transition-all flex-col items-center justify-center">
                <i class="ri-logout-box-line text-xl"></i>
                <span class="text-[10px]">Signout</span>
            </a>
        <% } %>
    </div>
</div>