<style>
    .videos_box {
        height: 600px;
        overflow-y: scroll;
    }
    .videos_box::-webkit-scrollbar {
        width: 0;
    }
    </style>
    <div class="videos_box border-t-2 border-zinc-800 pt-5 h-full">
        <h1 class="text-red-500">You cant't create & see the sort</h1>
    </div>