<div class="shorts rounded-lg overflow-hidden h-[90%] bg-red-500 w-[400px]">
    <div class="relative short w-full h-full bg-red-900">
        <video class="w-full h-full object-cover" controls src="../videos/1742736761950-78728640.mp4"></video>
        <div class="absolute z-2 text-white top-0 left-0 bg-zinc-700/60 w-full h-full">
            asfd
        </div>
    </div>
</div>